:root {
	--font1: 'Londrina Solid', sans serf;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #70C290;
	color: #127852;
}

.container {
	width: 60%;
	height: 600px;
	background-color: #F69650;
	margin: 100px auto 0;
	border: 25px double #F9F5C0;
}

h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-top: 50px;
	font: var(--font1);
	font-weight: 900;
	font-size: 3em;
	letter-spacing: 5px;
	
}

.name-input {
	width: 200px;
	height: 60px;
	border: 2px solid navy;
	border-radius: 25px;
	background-color: lightgoldenrodyellow;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	color: #070C90;
	font-size: 24px;
}

.hide-inputs {
  display: none;
}

.choose-game, 
.normal-game,
#play-again,
.response-div,
.reverse-game,
.button.next-btn,
.button-div,
.input-div3,
.reverse-begin {
	display: none;
}

.button {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-top: 20px;
	border: 2px solid #3B2E3F;
	border-radius: 25px;
	background-color: #BC5FB7;
	color: #3B2E3F;
}

.exit-btn {
	background-color: #F20A0D;
	width: 50px;
}

.button:nth-child(-n+2){
   margin-right: 10px;
}

.game-title {
  margin-top: 25px;
}

.game-input {
	margin-top: 20px;
	margin-left: 5px;
	width: 120px;
	height: 30px;
	border: 2px solid navy;
	border-radius: 25px;
	text-align: center;
} 

.min-input {
  margin-right: 10px;
}

.end-title {
	margin-top: 15px;
  font-size: 1.8em;
}

.guess-response,
.guess-response2,
.guess-response3 {
	font-family: 'Mirza', sans-serif;
	font-size: 1.8em;
}